<body>

    
              <a routerLink="/home" class="d-block d-sm-none d-md-none d-lg-none"><img src="/assets/images/backImage-removebg-preview.png" alt="" class="backImage"></a>
    <h5 class="text-big" style="font-weight: bold;">About Us</h5> 
    
         <div class="about"><img src="/assets/images/aboutimg.jpg" alt="aboutImage" class="aboutimg"></div>
        
    
   


             <div class="container">
                <div class="container">
                     <h6 style="margin-top: 25px; margin-bottom: 25px; font-weight: bold; font-size: 18px;">My Philippi Village</h6>
                </div>
             </div>
                
             <div class="container">
                <div class="container">
                    <hr>
                </div>
             </div>
             
            
            
                <div class="container">
                    <p class="text-small">
                        Philippi Village is not just a business hub that hosts business events; it’s a conglomeration of diverse, culturally rich business enthusiasts. Intending to create a safe space for one to explore one’s own unique entrepreneurial perspective, Philippi Village strives to merge the heart of Cape Town with the universal need for economic growth.  By empowering local entrepreneurs with the opportunity to seek personal and economic development, we offer spaces for sports activities, art exhibitions, educational outreaches and recreational activities for the local community. 
                    </p>
                </div>
                

                <div class="container">
                    <div class="container">
                        <h6 style="margin-top: 25px; margin-bottom: 25px; font-weight: bold; font-size: 18px;">My Philippi Village App</h6>

                    </div>
                </div>

                <div class="container">
                    <div class="container">
                        <hr>
                    </div>
                 </div>
               

                <p class="center"><a href="#Order"
                    style="text-decoration:none;color:black;">
                    </a>
                </p>

                <div class="container">
                    <p class="text-small">
                        Our app works as a connection between Philippi village and the Cape Flats communities. The reason we named it “Philippi Village App” is to create a sense of identity for our users with Philippi Village. The app will be able to bring the services render at Philippi Village to the masses at the comfort of their home through MTN ayoba mobile APP. The app comes as a game changer as it is designed and developed by the beneficiaries of one of the programs offered by the tenants at Philippi Village.
                    
                    </p>
                </div>
        
    


</body>
