.aboutimg {
    height: 200px;
    width: 380px;
    margin-top: 10px;
}

 p {
    text-align: justify;
}

h5, h6 {
    text-align: center;
}

.backImage {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
}


@media screen 
  and (min-device-width: 1000px) 
   { 

    .about {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }




   
}